<div class="card mb-3">
    <div>
        <h2>Aprendiendo con Guillermo</h2>
        <h4>¿Qué es Aprendiendo con Guillermo?</h4>
        <p>
            Aprendiendo con Guillermo, es un canal creado con el único objetivo
            de compartir mis conocimientos adquiridos en lo largo mi trayectoria
            estudiantil y profesional en el mundo laboral.
            <br />
            En este sitio web recopila mis conocimientos como los videos de mi
            canal de youtube y anotaciones que he captado en el trayecto.
            <br />
            Si gustas darle un vistazo a mi canal al siguiente 👉
            <a href="https://www.youtube.com/@AprendiendoconGuillermo"> link</a>
        </p>

        <div class="video-container">
            <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/Qr6pUR3rC10"
                frameborder="0"
                allowfullscreen
            ></iframe>
        </div>
    </div>
</div>
