<div class="card mb-3">
    <app-components></app-components>
    <div class="mt-3">
        <h3>¿Qué es docker?</h3>

        <p>
            Docker es una plataforma abierta para desarrollar, enviar y ejecutar
            aplicaciones. <br />
            Docker le permite separar sus aplicaciones de su infraestructura
            para que usted puede entregar software rápidamente.
        </p>

        <p>
            Esto facilita la creación de entornos consistentes y reproducibles,
            lo que ayuda a los desarrolladores y equipos de operaciones a
            trabajar de manera más eficiente al garantizar que las aplicaciones
            se ejecuten de la misma manera en diferentes entornos, desde el
            desarrollo hasta la producción.
        </p>
    </div>

    <div class="mt-3">
        <h3>¿Qué es un contenedor?</h3>
        <p>
            Un contenedor es un entorno aislado para su código. Esto significa
            que un contenedor no tiene conocimiento de su sistema operativo ni
            de sus archivos. Se ejecuta en el entorno que le proporciona Docker
            Desktop. Los contenedores tienen todo lo que su código necesita para
            ejecutarse, hasta un sistema operativo base.
        </p>
    </div>

    <div class="mt-3">
        <h3>¿Qué es una imagen?</h3>
        <p>
            Una imagen en Docker es un paquete ejecutable que incluye todo lo
            necesario para ejecutar una aplicación: el código, las bibliotecas,
            las dependencias, las variables de entorno y la configuración del
            sistema. Las imágenes se construyen a partir de un archivo llamado
            Dockerfile, que especifica cómo se debe configurar el entorno. Las
            imágenes son estáticas y no cambian mientras se ejecutan los
            contenedores.
        </p>
    </div>

    <div class="mt-3">
        <h3>¿Qué es un Dockerfile?</h3>
        <p>
            Es un archivo de texto que contiene una serie de instrucciones que
            Docker utiliza para construir una imagen. Las instrucciones en un
            Dockerfile describen cómo se debe ensamblar la imagen, qué sistema
            operativo usar, qué software instalar y cómo configurar el entorno
            para la aplicación.
        </p>
    </div>

    <div class="mt-3">
        <h3>¿Qué son las Redes en Docker?</h3>
        <p>
            Docker proporciona funcionalidades para crear redes virtuales, lo
            que permite a los contenedores comunicarse entre sí de manera segura
            y aislada, así como con el mundo exterior.
        </p>
    </div>

    <div class="mt-3">
        <h3>Comandos</h3>

        <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Descripción</th>
                    <th>Comando</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{ product.description }}</td>
                    <td><code>{{ product.command }}</code></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
